<h3><a ui-sref="main"><span class="fa fa-arrow-left"></span> Назад к стримам</a></h3>
<hr>
<tabset>
    <tab active="tab.general" heading="Общий FAQ">
        <br>
        <b>Q: </b> Что это такое? Как это работает? Зачем это?<br>
        <b>A: </b> Это канал из ВеГе. Сидит человек, играет\буггуртит\устанавливает что-то, комментирует всё это, его смотрят и комментируют в чатике. Стримеру нужно показать свою охуенность (со стороны это получается настолько уёбищно, что хочется вырвать глаза). Зрителю - либо посмотреть на игру, которую он не видел, либо пообщаться, либо поунижать веобу, либо просто провести время без пользы для кого-либо.<br>
        <br>
        <b>Q: </b> Как определить что стрим идёт?<br>
        <b>A: </b> Рядом с названием канала загорается красная пиздюлина. В меню чужих каналов отображаются только каланы, на которых есть стрим, и подписано их колличество.<br>
        <br>
        <b>Q: </b> Что сделать, чтобы стать стримером?<br>
        <b>A: </b> Отписать человеку с ником Yo_Green, какую игру хотели бы стримить, когда можете, все дела. Если он посчитает нужным - даст права.<br>
        <br>
        <b>Q: </b> Какой аплоад нужен для нормального стрима?<br>
        <b>A: </b> Согласно официальному FAQ Лайвстрима, для стрима в нормальном качестве - не менее 500кбит/с<br>
        <br>
        <b>Q: </b> Как стримить игры с консолей?<br>
        <b>A: </b> Во-первых, нужен ТВ-тюнер. В идеале, конечно – HD-тюнер, например Aver CaptureHD, но можно ограничиться любым другим дешевым. Для вывода изображения с тюнера можно использовать либо программы, поставляемые вместе с вашим тюнером, либо KMPlayer. Ну и захватывать изображение прокастером в десктоп-режиме.<br>
        <br>
        <b>Q: </b> Схуяли так много веобушного говна?<br>
        <b>A: </b> У веобу нет жизни и во время отсутствия каких-либо стримов лучше посмотреть хоть что-то (пусть даже веобу), чем повтор уже в<br>
        десятый раз. Когда у людей, стримящих что-либо вменяемое, будет отпуск\каникулы - стримов веобу будет минимум.<br>
        <br>
        <b>Q: </b> Рачьё веобушное блядь!<br>
        <b>A: </b> А то!<br>
        <br>
        <b>Q: </b> В чате меня постоянно оскорбляет человек с ником <span style="color: green; text-decoration: underline; font-weight: bold">Rekvest</span>. Что делать?<br>
        <b>A: </b> Реквест, посмотри на себя, на своё общение... Научись ощаться. Приятного показа.<br>
        <br>
        <b>Q: </b> Почему MсOmck?<br>
        <b>A: </b> В честь McDwarf'a - бога-покровителя канала.<br>
        <br>
        <b>Q: </b> Я слышал, что тут можно увидеть голого McDwarf'а, это правда?<br>
        <b>A: </b> К сожалению, плащеница с голым дворфом была утеряна для нас. Нашедшему просьа обратится в бюро находок.
    </tab>
    <tab active="tab.maraphone" heading="FAQ по Марафонам">
        <h1>Марафоны X Games Done Slow</h1>
        <b>Q: </b> Что это такое? Как это работает? Зачем это?<br />
        <b>A: </b> Народ угорает по играм определенной платформы и стримит слоураны (в противовес спидранам). Технически говоря, это любительские спидраны.<br /><br />
        <hr>
        <h1>Следующий марафон</h1>
        <strong>5th GEN Games Done Slow – марафон по всему пятому гену, кроме Playstation 1.</strong><br>
        <p>Платформы которые могут участвовать:</p>
            <ul>
                <li>3DO Interactive Multiplayer (<a href="http://vsrecommendedgames.wikia.com/wiki/3DO">http://vsrecommendedgames.wikia.com/wiki/3DO</a>>)</li>
                <li>Atari Jaguar (<a href="http://vsrecommendedgames.wikia.com/wiki/Atari_Jaguar">http://vsrecommendedgames.wikia.com/wiki/Atari_Jaguar</a>)</li>
                <li>Sega Saturn (<a href="http://vsrecommendedgames.wikia.com/wiki/Saturn">http://vsrecommendedgames.wikia.com/wiki/Saturn</a>)</li>
                <li>Nintendo 64 (<a href="http://vsrecommendedgames.wikia.com/wiki/Nintendo_64">http://vsrecommendedgames.wikia.com/wiki/Nintendo_64</a>)</li>
                <li>Virtual Boy (<a href="http://vsrecommendedgames.wikia.com/wiki/Virtual_Boy">http://vsrecommendedgames.wikia.com/wiki/Virtual_Boy</a>)</li>
                <li>Game Boy Color (<a href="http://vsrecommendedgames.wikia.com/wiki/Game_Boy_Color">http://vsrecommendedgames.wikia.com/wiki/Game_Boy_Color</a>)</li>
                <li>Neo Geo Pocket (<a href="http://vsrecommendedgames.wikia.com/wiki/Neo_Geo_Pocket">http://vsrecommendedgames.wikia.com/wiki/Neo_Geo_Pocket</a>)</li>
                <li>Wonderswan (<a href="http://vsrecommendedgames.wikia.com/wiki/WonderSwan">http://vsrecommendedgames.wikia.com/wiki/WonderSwan</a>)</li>
            </ul>
        <p>
            Лимит на стрим: 4 часа, но желательно выбирать игру в районе 2 часов.<br/>
            Дата проведения: 1-2-3 мая 2014 года.<br/>
            Желающим участвовать писать сюда: <a href="http://twitter.com/Disha14_"> <span class="fa fa-twitter-square"></span> @Disha14</a> <br/>
            <a href="http://steamcommunity.com/id/eightme">http://steamcommunity.com/id/eightme</a><br/>
            Ну или в чатик. <br/>
        </p>

    </tab>
</tabset>