<div class="row">
    <div class="col-md-12">
        <h3>NES Games Done Slow <small class="pull-right"><span class="fa fa-calendar"></span> 13.14.2010 - 14.13.2010</small></h3><hr>
    </div>
</div>

<div class="row">
    <div ui-view>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <!-- ul class="list-unstyled" style="margin-top: 15px">
            <li class="col-xs-2"><a ui-sref="maraphones.one.record({'record': 'nope'})"><img class="img-responsive" src="http://img.youtube.com/vi/XdCr5U_Mg-Y/0.jpg" popover="Chipp Plays Pokemon" popover-trigger="mouseenter"></a></li>
        </ul -->
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Расписание
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        15:00 - 17:00 | SuperGame by Disha
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>